<div class="mainbody">
  <div style="padding:30px;">
  	  <div style="height:200px; padding-bottom:15px;">
		     <div style="float:left;width:50%; padding:right:20px;">
		     	 <div style="padding-bottom:5px; font-size:18px; color:#00a5d7;"> Insurance </div>
		     	 <div style="line-height:16px; color:#696969;">
		     	 	<p>
		     	 		We are an Independent and Professional Insurance Agency that offers
		     	 	</p>
		     	 	<ul>
		     	 		<li> Auto</li>
		     	 		<li> Home </li>
		     	 		<li> Health </li>
		     	 		<li> Life </li>
		     	 		<li> General Liability </li>
		     	 		<li> Bonds </li>
		     	 		<li> Workers Compensation </li>
		     	 	</ul>
		     	 </div>
		     </div>
		     <div style="float:left; width:50%">
		     	 <div style="padding-bottom:5px; font-size:18px; color:#00a5d7;"> Bussiness Services </div>
		     	 <div style="line-height:16px; color:#696969;">
		     	 	<p>
		     	 		We are an Independent and Professional Insurance Agency that offers
		     	 	</p>
		     	 	<ul>
		     	 		<li> Payroll</li>
		     	 		<li> Bussiness cards </li>
		     	 		<li> Public fax </li>
		     	 		<li> Copies and scan </li>
		     	 		<li> Email </li>
		     	 		
		     	 	</ul>
		     	 </div>
		     </div>
		     <div style="clear:both"></div>
	</div>
	  	  <div style="height:200px; padding-bottom:15px;">
		     <div style="float:left;width:50%; padding:right:20px;">
		     	 <div style="padding-bottom:5px; font-size:18px; color:#00a5d7;"> Taxes </div>
		     	 <div style="line-height:16px; color:#696969;">
		     	 	<p>
		     	 		We offer all kind of taxes:
		     	 	</p>
		     	 	<ul>
		     	 		<li> Personal Taxes</li>
		     	 		<li> Bussiness taxes </li>
		     	 		<li> State Bussiness taxes </li>
		     	 		<li> IRS audits </li>
		     	
		     	 	</ul>
		     	 </div>
		     </div>
		     <div style="float:left; width:50%">
		     	 <div style="padding-bottom:5px; font-size:18px; color:#00a5d7;"> Notary </div>
		     	 <div style="line-height:16px; color:#696969;">
		     	 	<p>
		     	 		We are an Independent and Professional Insurance Agency that offers
		     	 	</p>
		     	 	<ul>
		     	 		<li> Notary Services</li>
		     	 		<li> Mobile Notary </li>
		     	 		<li> Apostille </li>
		     	 		<li> Finger printing </li>
		     	 		    <ul>
		     	 		    	<li> Bussiness</li>
		     	 		    	<li> Individual</li>
		     	 		    </ul>
		     	 		<li> Mobile finger printing </li>
		     	 		
		     	 	</ul>
		     	 </div>
		     </div>
		     <div style="clear:both"></div>
	</div>
	  	  <div style="height:200px; padding-bottom:15px;">
		     <div style="float:left;width:50%; padding:right:20px;">
		     	 <div style="padding-bottom:5px; font-size:18px; color:#00a5d7;"> Legal Services </div>
		     	 <div style="line-height:16px; color:#696969;">
		     	 	<p>
		     	 		We are an Independent and Professional Insurance Agency that offers
		     	 	</p>
		     	 	<ul>
		     	 		<li> Lawyers</li>
		     	 		  <ul>
		     	 		  	  <li> Immigration</li>
		     	 		  	  <li> Criminal</li>
		     	 		  	  <li> Civil</li>
		     	 		  	  <li> Family</li>
                          </ul>
		     	 		<li> Translation of legal documents </li>
		     	 		<li> Mediation </li>
		     	 		<li> Paralegal </li>
		     	 		
		     	 	</ul>
		     	 </div>
		     </div>
		     		     <div style="float:left; width:50%">
		     	 <div style="padding-bottom:5px; font-size:18px; color:#00a5d7;"> Driver license Process </div>
		     	 <div style="line-height:16px; color:#696969;">
		     	 	<p>
		     	 		We are an Independent and Professional Insurance Agency that offers
		     	 	</p>
		     	 	<ul>
		     	 		<li> Reinstate, for revoked or suspended in any state</li>
		     	
		     	 		
		     	 	</ul>
		     	 </div>
		     </div>
		     <div style="clear:both"></div>

	</div>


  </div>
	<div class="FooterSI">
		<div style="float:left">
			<p>&copy Copyright 2014. All rights reserved</p>
		</div>
		<div style="float:right;">
            <div style="float:left; padding-right:15px;color: #2a4f5e;">
            	<%=image_tag("twitter.png", alt: "Example Image")%>
            </div>
            <div style="float:left">
            	<%=link_to image_tag("Facebook.png", :alt => "Facebook"), "https://www.facebook.com/pages/SERVICIO-INTERNACIONAL/165952297926", :target => "_blank"%>
            </div>
			          <div style="clear:both;"></div>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>