<div class="mainbody">
	<div class="content">
		<div id="evento_content" data-mercury="full">
			<%= raw @eventos.content %>
		</div>

		<p><%= link_to "Edit Page", "/editor" + request.path, id: "edit_link", data: {save_url: mercury_update_evento_path("@evento")} %></p>
	</div>
</div>