<div class="mainbody">
	<div class="content">
		<div id="primary" data-mercury="full">
		  default content
		</div>
<!-- 		<div id="page_content" class:"mercury-region" data-type="editable">
			<p>hola amigo evento</p>
		</div> -->	
		<p><%= link_to "Edit Page", "/editor" + request.path %></p>
	</div>
</div>